/* Poppins Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
/* RESET STYLE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
/* NAVIGATION BAR */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
header .logo h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
header .Topnavbar a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #222;
  padding: 0 1rem;
  cursor: pointer;
}
header .Topnavbar a:hover {
  color: lightgreen;
  transition: all 0.5s;
}
header .Topnavbar a:active {
  color: limegreen;
}
header .log-in-buttons :first-child {
  font-size: 1.6rem;
  padding: 0.8rem 2.5rem;
  color: #222;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .log-in-buttons :first-child:hover {
  color: #fff;
  background-color: lightgreen;
  transition: 0.5s;
}
header .log-in-buttons :nth-child(2) {
  font-size: 1.6rem;
  padding: 0.8rem 2.5rem;
  background-color: lightgreen;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0.1rem 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
}
header .log-in-buttons :nth-child(2):hover {
  border: 0.1rem solid lightgreen;
  color: limegreen;
  background-color: transparent;
  transition: 0.5s;
}
/* END OF NAVIGATION BAR*/

/* HERO-SECTION */
#Hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}
.hero-content-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding-left: 21rem;
}
.hero-content-side h1 {
  font-size: 6.5rem;
  font-weight: 600;
  color: #000;
  line-height: 5.5rem;
  padding-bottom: 3rem;
}
.hero-content-side span {
  font-size: 6.5rem;
  font-weight: 600;
  color: lightgreen;
}
.hero-content-side p {
  font-size: 1.6rem;
  color: #222;
  padding-bottom: 3rem;
}
.hero-section-buttons button {
  padding: 0.8rem 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  margin-left: 1rem;
}
.hero-section-buttons button:first-child {
  text-transform: uppercase;
  border: none;
  background-color: lightgreen;
  color: #fff;
  cursor: pointer;
  box-shadow: 0.1rem 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.hero-section-buttons button:first-child:hover {
  border: 1px solid limegreen;
  color: limegreen;
  background-color: transparent;
}
.hero-section-buttons button:nth-child(2) {
  border: none;
  background-color: transparent;
  color: #222;
  cursor: pointer;
  transition: 0.5s;
}
.hero-section-buttons button:nth-child(2):hover {
  background-color: lightgreen;
  color: #fff;
}
.hero-image-side {
  width: 50%;
}
.hero-image-side img {
  margin: 3rem 0;
  width: 100%;
  height: 100%;
}
/* END OF HERO-SECTION */

/* WHO WE WORK FOR */
.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(226, 226, 226);
  padding: 2rem 0;
  margin: 0 20rem 5rem;
}
.logos img {
  width: 8rem;
  height: auto;
}

/* END OF WHO WE WORK FOR */

/* About language */
#language {
  width: 100%;
  height: auto;
  margin: 7rem 0 2rem 0;
}
#language h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.language-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 5rem;
}
.item ion-icon {
  font-size: 6.4rem;
  color: lightgreen;
}
.item h3 {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem 0;
  text-align: center;
}
.item p {
  font-size: 1.4rem;
  text-align: center;
}
/* END OF About language */

/* WORK SECTION */
#work {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#work .top-heading {
  width: 50%;
  padding: 3rem;
}
#work .top-heading h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
#work .top-heading p {
  font-size: 1.6rem;
  text-align: center;
}

/* First-Section */
.work-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
}
.work-1-image {
  width: 30%;
  height: auto;
  margin-left: 7rem;
}
.work-1-image img {
  width: 100%;
  height: auto;
}
.work-1-text {
  width: 30%;
  height: auto;
  margin-right: 7rem;
}
.work-1-text h3 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}
.work-1-text p {
  font-size: 1.6rem;
  color: rgb(165, 165, 165);
}

/* End Of First Section */

/* Second Section */
.work-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
}
.work-2-text {
  width: 30%;
  height: auto;
  margin-left: 7rem;
}
.work-2-text h3 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}
.work-2-text p {
  font-size: 1.6rem;
  color: rgb(165, 165, 165);
}
.work-2-image {
  width: 30%;
  height: auto;
  margin-right: 7rem;
}
.work-2-image img {
  width: 100%;
  height: auto;
}
/* End Of third Section */

.work-section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
}
.work-3-image {
  width: 30%;
  height: auto;
  margin-left: 7rem;
}
.work-3-image img {
  width: 100%;
  height: auto;
}
.work-3-text {
  width: 30%;
  height: auto;
  margin-right: 7rem;
}
.work-3-text h3 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}
.work-3-text p {
  font-size: 1.6rem;
  color: rgb(165, 165, 165);
}

/* End Of third Section */

/* END OF WORK SECTION */

/* START OF ABOUT US SECTION */

#about-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}
.about-content {
  width: 50%;
  margin: 0 3rem 0 20rem;
  padding: 1.5rem 3rem;
  box-shadow: 0.2rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-content h2 {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 2rem;
  text-transform: capitalize;
}
.about-content p {
  font-size: 1.6rem;
  color: rgb(165, 165, 165);
}
.about-us-buttons {
  margin: 4rem 0;
}
.about-us-buttons button {
  padding: 0.8rem 3rem;
  text-align: center;
  font-size: 1.6rem;
}
.about-us-buttons button:first-child {
  text-transform: uppercase;
  border: none;
  background-color: lightgreen;
  color: #fff;
  cursor: pointer;
  box-shadow: 0.1rem 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.about-us-buttons button:first-child:hover {
  border: 0.1rem solid limegreen;
  color: limegreen;
  background-color: transparent;
}
.about-us-buttons button:nth-child(2) {
  border: none;
  background-color: transparent;
  color: #222;
  cursor: pointer;
  transition: 0.5s;
}
.about-us-buttons button:nth-child(2):hover {
  background-color: lightgreen;
  color: #fff;
}
.item-grid {
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: 25rem 25rem;
  justify-items: center;
  align-items: center;
  margin-left: 3rem;
}
.grid {
  padding: 5rem;
  text-align: center;
}
.grid:first-child {
  box-shadow: 0.2rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
}
.grid h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.grid p {
  font-size: 1.8rem;
  color: rgb(165, 165, 165);
}
/* END OF ABOUT US SECTION */

/* HTML FONT SIZE DECREASING */

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 465px) {
  html {
    font-size: 30%;
  }
}
/* HTML FONT SIZE DECREASING */

/* RESPONSIVENESS */

/* --------------------- Desktop RESPONSIVENESS --------------------- */

/* --------------------- Tablet RESPONSIVENESS --------------------- */

/* --------------------- Mobile RESPONSIVENESS --------------------- */
@media (max-width: 768px) {
  header {
    width: 100%;
  }
  header .Topnavbar a {
    display: none;
  }
  #Hero-section {
    display: block;
    justify-content: space-around;
  }
  .hero-content-side {
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding: 4rem;
  }
  .hero-image-side {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 3rem;
  }
  .logos {
    display: flex;
    margin: 0 3rem;
  }
  .logos img {
    width: 10%;
    height: auto;
  }
  #language {
    margin: 5rem 0;
    padding: 3rem;
  }
  .language-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .item {
    padding: 2.5rem;
    text-align: center;
  }
}
